<!DOCTYPE html>
html(lang="es")
    head        
        link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
        link(href="/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet")
        link(rel="stylesheet", href="/bootstrap/bootstrap.css")
        link(rel="stylesheet", href="/alertify/css/alertify.css")
        link(rel="stylesheet", href="/leaflet/leaflet.css")
        link(rel="stylesheet", href="/css/main.css")      
        title #{nombrePagina}
    body
        block contenido
    script(src="/jquery/jquery.js")
    script(src="/bootstrap/bootstrap.js")
    script(src="/alertify/alertify.js")
    script(src="/leaflet/leaflet.js")
    script(src="/dist/bundle.js")